<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameCatalogue</title>
    <link rel="stylesheet" href="~/lib/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="text-light bg-dark">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container border-bottom border-success">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav  w-100 justify-content-around text-center">
                        <li class="nav-item ">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-light" asp-area="" asp-controller="Games" asp-action="Index">Games</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">Hello @User.Identity.Name!</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-light" asp-area="" asp-controller="Accounts" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-light" asp-area="" asp-controller="Accounts" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-light" asp-area="" asp-controller="Accounts" asp-action="Login">Log in</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class=" footer text-muted bg-dark">
        <div class="container border-top border-success">
            &copy; 2021 - GameCatalogue - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-success">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
