@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-block">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <img src="https://localhost:44393/images/rei_8f12650f-e1a1-418c-bef7-c155644b7bcc.jpg" alt="Missing Image" class="w-25">
        <img class="" src="https://i.imgflip.com/5zbv8c.jpg" title="made at imgflip.com" />
        <div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>
    </div>
</div>

